.container {
    padding: 20px;
}

/* HEADER */
.nav-link {
    text-decoration: none;
}

li {
    list-style: none;
}

.searchBox {
    padding: 8px 16px;
    min-width: 300px;
    font-size: 20px;
    background-color: rgb(243, 244, 246);
    outline: none;
    text-align: start;
    border: none;
    border-radius: 8px;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav ul li {
    font-size: 20px;
    padding: 10px;
}

.nav ul li a {
    color: gray;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* HEADER */


/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: 60% auto auto;
    /* Cột đầu tiên chiếm 60%, hai cột còn lại chia đều */
    gap: 10px;
    background-color: rgb(29, 34, 40);
    padding: 10px;
}

.item {
    color: white;
    padding: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

.card {
    display: flex;
    flex-direction: column;
    max-width: 22%;
    border: 1px solid rgb(203, 201, 201);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-types {
    display: flex;
    border-bottom: 1px solid grey;
}

.tab-types .active {
    color: rgb(241, 116, 162);
    font-weight: bold;
    background-color: rgb(255, 239, 245);
    border-radius: 6px 6px 0 0;
}

.tab-types li {
    cursor: pointer;
    padding: 8px 16px;
    color: grey;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-title {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.card-title svg {
    margin-left: auto;
}

.card-des {
    padding: 0 5px;
}

.card-des span {
    border-radius: 30px !important;
    padding: 5px 10px;
    border: none;
    background-color: rgb(251, 240, 244);
    border-radius: 5px;
    color: rgb(238, 120, 154)
}